@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: bolder;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.disordered li,
.ordered li {
  list-style-type: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.main-index {
  flex-grow: 1;
}

/*---header---*/

.header-top {
  min-height: 104px;
  padding: 24px 0;
  box-sizing: border-box;
}

.header-nav {
  display: flex;
}

.header-logo {
  margin-right: 16px;
}

/*---main-nav---*/
.main-nav {
  display: flex;
  align-items: center;
}

.main-nav-item {
  position: relative;
}

.main-nav-link {
  padding: 8px 16px;
  border-radius: 26px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.main-nav-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.main-nav-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: inherit;
}

.main-nav-link:active {
  background-color: #fcfcfc;
}

.link-current {
  color: #fcfcfc;
  background-color: #ff4a78;
  border-radius: 26px;
}

/*---submenu---*/


.main-nav-submenu {
  display: none;
  position: absolute;
  top: 37px;
  width: 138px;
  background-color: #fcfcfc;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  z-index: 1;
}

.main-nav-submenu::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 10px;
  top: -10px;
  background-color: transparent;
}

.main-nav-item:hover .main-nav-submenu {
  display: block;
}

.submenu-link {
  display: inline-block;
  margin-bottom: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: #2d3440;
  border: none;
  outline: none;
}

.new-submenu {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
}

.new-submenu::after {
  content: "";
  display: block;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -7px;
  height: 1px;
  background-color: #b9b9b9;
}

.submenu-item:hover {
  background-color: #ffcbd8;
}

.submenu-item:focus-within {
  outline: 2px solid #2d3440;
  border-radius: 26px;
  background-color: #ffcbd8;
}

.submenu-item:active {
  background-color: #ff7799;
}

.submenu-link-current {
  background-color: #ff4a78;
}

/*---user-nav---*/

.user-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 14px;
  line-height: 20px;
}

.user-nav-item {
  position: relative;
  margin-right: 16px;
}

.user-nav-link {
  outline: none;
  text-decoration: none;
  color: #2d3440;
}

.item-log-in,
.basket {
  position: relative;
  padding: 6px 18px 6px 40px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}

.link-phone {
  margin-right: 18px;
  padding: 6px 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  border-radius: 26px;
}

.search {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}

.nav-search {
  display: block;
  width: 18px;
  height: 18px;
  padding: 7px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 7px, 7px;
}

.log-in::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 7px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../images/log-in.svg");
  background-repeat: no-repeat;
}

.basket-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 16px;
  width: 18px;
  height: 18px;
  background-image: url("../images/basket.svg");
  background-repeat: no-repeat;
}
/*---user-menu состояние---*/

.user-nav-item:not(:first-child):hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-nav-item:not(:first-child):focus-within {
  outline: 2px solid #2d3440;
  outline-offset: inherit;
  background-color: rgba(252, 252, 252, 0.5);
}

.user-nav-item:not(:first-child):active {
  background-color: #fcfcfc;
}

.link-phone:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.link-phone:focus {
  outline: 2px solid #2d3440;
  outline-offset: inherit;
  background-color: rgba(252, 252, 252, 0.5);
}

.link-phone:active {
  background-color: #fcfcfc;
}

/*--popup--*/

.popup-search {
  display: none;
}

.popup-search-activ {
  display: block;
}

.popup-search-content {
  position: absolute;
  right: 0;
  top: 40px;
  width: 356px;
  padding: 24px 16px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-form {
  position: relative;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.search-form:hover,
.auth-form-field:hover {
  border: 1px solid #2d3440;
}

.search-form:focus,
.auth-form-field:focus {
  border: 2px solid #2d3440;
}

.error:invalid {
  border: 1px solid #ea5454;
}

.error:focus:invalid {
  border: 2px solid #ea5454;
}

.search-form:disabled,
.auth-form-field:disabled {
  border: 1px solid #b9b9b9;
  background-color: #e7e7e7;
}

.popup-button-reset {
  position: absolute;
  display: none;
  width: 16px;
  height: 16px;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  border: none;
  background: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  cursor: pointer;
}

.search-form::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.search-form:focus + .popup-button-reset {
  display: block;
}

.popup-button-reset:hover {
  opacity: 1;
}

/*--autorizacion--*/

.popup-autorizacion {
  display: none;
  position: absolute;
  width: 420px;
  padding: 48px;
  padding-bottom: 52px;
  top: 40px;
  right: 0;
  background-color: #fcfcfc;
  box-sizing: border-box;
}

.popup-autр-activ {
  display: block;
}

.popup-autorizacion-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.auth-form-field {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #b9b9b9;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  box-sizing: border-box;
}

.auth-form-field::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.auth-group:not(:first-child) {
  margin-top: 16px;
}

.auth-group:last-child {
  margin-top: 32px;
}

.button {
  margin-right: 23px;
  padding: 8px 28px;
  background-color: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
}

.auth-user-group {
  display: flex;
}

.auth-user-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.auth-form-recovery,
.auth-form-register {
  position: relative;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.auth-form-recovery::after,
.auth-form-register::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #2d3440;
}
